COMPOSE_PROJECT_NAME=figure-gallery-pr00

POSTGRES_DB=figure_gallery_pr00
POSTGRES_USER=replace-with-runtime-user
POSTGRES_PASSWORD=replace-with-runtime-password
POSTGRES_PORT=55432

MINIO_ROOT_USER=replace-with-runtime-access-key
MINIO_ROOT_PASSWORD=replace-with-runtime-secret-key
MINIO_CONSOLE_PORT=59001
S3_PORT=59000
S3_BUCKET=figure-gallery-pr00
